/* chart */
.index {
    color: #333333;
    font-size: 14px;
}

.fillCircle {
    fill: #ffb40a;
    cursor: pointer;
}
.fillCircle-completed{
  fill: #64b927;
  cursor: pointer;
}

.shape {
    fill: #ffb40a;
    opacity: .15;
    border-radius: 0%;
}

.shape:hover {
    fill: #ffb40a;
    opacity: .35;
    z-index: 100;
}

.scale {
    fill: #FAFAFA;
    stroke: #999;
    stroke-width: .15;
}

.axis {
    stroke: #555;
    stroke-width: .15;
}

.icon {
    background-color: #ffb40a;
    border-radius: 50%;
    cursor: pointer;
}

.caption {
    fill: #ffb40a;
    font-weight: 400;
    font-size: 16px;
}

.caption-completed {
    fill: #64b927;
    font-weight: 400;
    font-size: 16px;
}